.left-box{
			display: inline;
			width: 20%;
			height: 700px;
			float: left;
			background-color: orange;
			
		}
		.right-box{
			display: inline;
			width: 80%;
			height: 700px;
			float: right;	
			background-color: lightgrey;
		}
		p{
			width: 10%;
			padding: 10px;
		}
		.box-1{
			display: inline-block;
			width: 100px;
			height: 100px;
			background-color: lightyellow;
			margin: 5px;
			text-align: center;
		}
		.box-2{
			display: inline-block;
			width: 100px;
			height: 100px;
			background-color: lightblue;
			margin: 5px;
			text-align: center;
		}
		.box-3{
			display: inline-block;
			width: 100px;
			height: 100px;
			background-color: lightpink;
			margin: 5px;
			text-align: center;
		}