.left-box{
			display: inline;
			width: 20%;
			height: 700px;
			float: left;
			background-color: orange;
			
		}
		.right-box{
			display: inline;
			width: 80%;
			height: 700px;
			float: right;	
			background-color: lightgrey;
		}
		p{
			width: 10%;
			padding: 10px;
		}
		.add-user-box{
			padding: 10px;
			width: 80%;
		}
		.user-list-box{
			padding: 10px;
			width: 80%;	
		}
		input{
			margin: 10px;
		}
		.button{
			margin: 10px;
			width: 100px;	
			background-color: orange;
			color: white;
			padding: 3px;
		}
		table,tr,td{
			border:1px solid black;
			border-collapse: collapse;
			padding: 10px;

		}
		iframe{
			width: 650px;
			height: 500px;
			border:0;
		}