.header{
			font-weight: bold;
			width: 150px;
			height: 20px;
		}
		.detail{
			text-align: right;		
			margin-top: 5px;
		}
		input,select{
			width: 250px;
			margin-left: 5px;
			margin-top: 5px;
		}
		.box{
			margin: auto;
 		 	width: 50%;
  			border: 1px solid black;
			background-color: lightgrey;
			width: 450px;
			height: auto;
			padding: 10px;
		}
		.styleZip{
			width: 70px;
		}
		.stylePhone{
			width: 90px;
		}
		.button{
			width: 70px;
		}